*, *:before, *:after
  box-sizing: border-box
html
  font-size: 14px
body
  font-family: 'Montserrat', sans-serif
  font-size: 1rem
  // font-family: 'Quicksand', sans-serif
img
  max-width: 100%
input
  outline: none
a
  outline: none
  text-decoration: none
button
  padding: 10px 20px
  outline: none
  border: none
  cursor: pointer