.main
  &
    background: url('../img/image_4.jpg') no-repeat center
    height: 703px

.reg
  &__form
    width: 380px
    background: #FFF
    padding: 21px 30px 29px 30px
    margin: auto
    border: 1px solid rgba(0, 0, 0, 0.12)
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2)
    border-radius: 4px
  &__title
    font-family: 'Quicksand', sans-serif
    font-style: normal
    font-weight: bold
    font-size: 26px
    line-height: 30px
    letter-spacing: 0.07px
    margin: 19px 0 19px 0